<h3>اضافه کردن</h3>
<body>
    <div class=" table table-bordered" contenteditable="false">
        <div class="col-lg-12" style="display:flex">
 
            <div class="col-md-4">
                نام کتاب
                <input type="text" ng-model="FileNameDoc" class="form-control" />
            </div>
            <div class="col-md-4" dir="rtl">
                موضوع کتاب
                <input type="text" ng-model="FileSubject" value="" class="form-control" />
            </div>
            <div class="col-md-4" dir="rtl">
                ناشر
                <input type="text" ng-model="Publisher" class="form-control" />
            </div>
        </div>
        <div class="col-md-12" style="display:flex">
            <div class="col-md-4">
                ویراستار
                <input type="text" ng-model="Editor" class="form-control" />
            </div>
            <div class="col-md-4">
                نشریه
                <input type="text" ng-model="Printery" class="form-control" />
            </div>
            <div class="col-md-4">
                سال انتشار
                <input type="text" ng-model="PublicationYear" class="form-control" />
            </div>
        </div>
        <div class="col-md-12" style="display:flex">
            <div class="col-md-4">
                شناسه کتاب شناسی ملی
                <input type="number" ng-model="BibliographyNumber" class="form-control" />
            </div>
            <div class="col-md-4">
                شابک
                <input type="number" ng-model="ISBN" class="form-control" />
            </div>
            <div class="col-md-4">
                قیمت
                <input type="number" ng-model="Price" class="form-control" />
            </div>
        </div>
        <div class="col-md-12" style="display:flex">
            <div class="col-md-4">
                تعداد صفحات
                <input type="number" ng-model="NumberOfPages" class="form-control" />
            </div>
            <div class="col-md-4">
                پیوند
                <input type="text" ng-model="Link" class="form-control" />
            </div>
            <div class="col-md-4">
                پیوند
                <input type="text" ng-model="Extension" class="form-control" />
            </div>
        </div>
        <div class="col-md-12" style="display:flex">
            <div class="col-md-4">
                پیوند
                <input type="text" ng-model="FileSize" class="form-control" />
            </div>

            <div class="col-md-4">
                تاریخ بارگذاری
                <input type="text" ng-model="UploadDate" class="form-control" />
            </div>
            <div class="col-md-4">
                توضیحات اضافه
                <input type="text" ng-model="Other" class="form-control" />
            </div>
        </div>
        <div class="col-md-12" style="display:flex">
            <div class="col-md-4">
                مولف
                <input type="text" ng-model="Author" class="form-control" />
            </div>
            <div class="col-md-4">
                نویسنده خارجی
                <input type="text" ng-model="ForeignAuthorName" class="form-control" />
            </div>
            <div class="col-md-4">
                مترجم
                <input type="text" ng-model="Translator" class="form-control" />
            </div>
        </div>

        <div class="col-md-12" style="display:flex">
            <label for="inputFile">فایل</label>
            <input type="file" ng-model="FileName.names" />
            <input type="button" ng-click="EditBook(Id)" class="btn btn-success" style="display:flex;" value="ویرایش" />
        </div>
    </div>
</body>
