

<html> 
<body class="container" dir="rtl" ng-controller="bookListController">     
    <h3>مدیریت کتابخانه</h3>
    <div ng-app="BookApp">
        <a class="btn btn-success" href="#/Add"><h5>اضافه کردن</h5></a>
        <div ng-view></div>
    </div>
</body>
</html>

 