<h3> مشخصات</h3>
<body>
    <div class=" table table-bordered" contenteditable="false">
         
            <div>
                نام کتاب
                <input type="text" ng-model="FileNameDoc" class="form-control" readonly/>
            </div>
            <div>
                موضوع کتاب
                <input type="text" ng-model="FileSubject" value="" class="form-control"readonly />
            </div>
            <div>
                ناشر
                <input type="text" ng-model="Publisher" class="form-control" readonly/>
            </div>
       
            <div>
                ویراستار
                <input type="text" ng-model="Editor" class="form-control"readonly />
            </div>
            <div>
                نشریه
                <input type="text" ng-model="Printery" class="form-control" readonly/>
            </div>
            <div>
                سال انتشار
                <input type="text" ng-model="PublicationYear" class="form-control" readonly/>
            </div>
             <div>
                شناسه کتاب شناسی ملی
                <input type="number" ng-model="BibliographyNumber" class="form-control"readonly />
            </div>
             <div>
                 شابک
                 <input type="number" ng-model="ISBN" class="form-control" readonly/>
             </div>
             <div>
                 قیمت
                 <input type="number" ng-model="Price" class="form-control" readonly/>
             </div>
             <div>
                 تعداد صفحات
                 <input type="number" ng-model="NumberOfPages" class="form-control"readonly />
             </div>
             <div>
                 پیوند
                 <input type="text" ng-model="Link" class="form-control"readonly />
             </div>
            

             <div>
                 تاریخ بارگذاری
                 <input type="text" ng-model="UploadDate" class="form-control" readonly/>
             </div>
             <div>
                 توضیحات اضافه
                 <input type="text" ng-model="Other" class="form-control" readonly/>
             </div>
             <div>
                 مولف
                 <input type="text" ng-model="Author" class="form-control" readonly/>
             </div>
             <div>
                 نویسنده خارجی
                 <input type="text" ng-model="ForeignAuthorName" class="form-control" readonly/>
             </div>
             <div>
                 مترجم
                 <input type="text" ng-model="Translator" class="form-control" readonly/>
             </div>
             <label for="inputFile">فایل</label>
            <input type="text" ng-model="FileName" readonly/>
      </div>
</body>
